{% extends "layout.html" %}

{% block content %}

    {% if usr == "amin" %}
        <h1>ยินดีต้อนรับครับคุณ{{usr}}สุดหล่อ</h1>
    {% else %}
        <h1>คุณไม่มี่สิทธิ์เข้าถึงหน้านี้ โปรดกลับไปหน้าอื่น</h1>
    {% endif %}

{% endblock %}
