{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1 style="color: #007bff; margin-bottom: 30px;">ยินดีต้อนรับเข้าสู่เว็บไซต์ของเรา</h1>
        <p style="font-size: 18px;">ท่านสามารถเริ่มต้นการสำรวจเว็บไซต์ของเราได้ด้วยการใช้เมนูที่มีด้านบน</p>
    </div>
{% endblock %}
