{% extends "layout.html" %}

{% block content%}
    <div class="container">
            <h2>ฝากข้อความถึงเเอดมินโดยตรง</h2>
            <form action="{{url_for('send_ms_to_admin')}}" method="GET">
                <div class="from-group">
                    <label for="" >กรอกชื่อของคุณ</label>
                    <input type="text" name="fname" class="from-control">
                </div>
                <div class="from-group">
                    <label for="">กรอกข้อความ</label>
                    <textarea name="description" class="from-control" cols="30" rows="10"></textarea>
                </div>
                <br>
                <input type="submit" value="ส่งข้อมูล" class="btn  btn-success">
            </form>
    </div>

{% endblock %}
